/*------- Go Deeper -------*/
@keyframes currentToLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rightToCurrent {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*------- Go Back -------*/

@keyframes leftToCurrent {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes currentToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*--------- Panel Animation ---------*/

@keyframes bgChange {
    from {
        background-color: white;
    }
    to {
        background-color: #ff463e;
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        margin-top: 40px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}




