section[role="region"] > header:first-child h1 {
    font-family: "FiraSans";
}

section[role="region"].page {
    position: absolute;
    /*transition: all 2s ease 0s;*/
}

body {
    position: relative;
}


.page {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*opacity:;*/
    position: absolute;
    z-index: 5;
    overflow-x:hidden;
    /*display:none;*/
}

.page[role="editor"]{
    height:100%;
}

#menu {
    z-index: 10;
    display: inline;
}

#menu > header, #saves > header {
    position: fixed;
    width: 100%;
}

section[data-type=list] {
    margin-top: 50px;
}

.visiblePage {
    left: 0px;
    top: 0px;
    /*display: inline;*/
    z-index: 1000;
}


#mainContainer{
    overflow:hidden;
}

.right {
    transform: translateX(100%);
}

.to-left {
    animation: currentToLeft 0.4s forwards;
}

.from-right {
    animation: rightToCurrent 0.4s forwards;
}

.from-left {
    animation: leftToCurrent 0.4s forwards;
}

.to-right {
    animation: currentToRight 0.4s forwards;
}

#editor #app-container{
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#editor{
    position: relative;
}

#editor #editor-main{
    width:100%;
    height: 100%;

}

.control-color-bg{
    background-color: #ff463e;
}

.control-gradient-bg {
    background: -moz-linear-gradient(top, #ff5b18 0%, #ff463e 100%); /* FF3.6+ */
}

#editor #side-controls{
    float:left;
    left:0px;
    height: 100%;
    width:20%;
}

#app-container #timer-decor{
    width: 100%;
    height:3px;
    position: fixed;
    top:0px;
    background-color: #12d0ff;
}

#right-side-controls{
    position: fixed;
    bottom: 90px;
    right:5px;
}

.mu-last:active{
    background:red;
}

.round{
    border-radius: 2000px;
    background-position: center;
    padding:15px;
}

.hiddenElement{
    display: none;
    opacity: 0;
}

/*---------------- Load panel -----------------*/
#saves {
    z-index: 1000;
    background: white;
}

form[name=audioTrack] > label {
    color: white;
    font-size: 16px;
    float: left;
    margin: 0px 0px 0px 20px;
}

form[name=audioTrack] input[type=radio] {
    float: left;
}

.timeModified {
    float: left;
    margin: 5px 0px 0px 0px;
}

#delete_track_btn {
    background: url(../icons/controls/iconmonstr-trash-can-8-icon-24.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/*---------------- Menu panel -----------------*/

#menu-panel{
    /*display:none;*/
    z-index: 0;
    background: #ff463e none repeat scroll 0% 0%;
    width: 85%;
    position: absolute;
    left: 7%;
    top: 15px;
    padding:5px;
    height:83%;
}

#menu-panel button{
    width:48px;
    height:48px;
    border-radius:50px;
    float:left;
    padding: 35px;
    margin: 0px 10px 0px 10px;
    /*border:1px solid white;*/
}

#menu-panel button:active {
    border: 2px white solid;
    margin: 0px 0px 0px 0px;
}


#file-name{
    background: white;
    float:left;
}

.clear{
    clear:both;
}

#menu-panel button#number-spaces {
    background: url('../icons/controls/iconmonstr-column-icon-48.png') no-repeat 10px 10px;
}

#menu-panel button#interval-toggle{
    background: url('../icons/controls/iconmonstr-control-panel-11-icon-48.png') no-repeat 10px 10px;
}

#menu-panel button#export-button{
    background: url('../icons/controls/iconmonstr-save-8-icon-48.png') no-repeat 10px 10px;
}

#menu-panel button#save-button{
    background: url('../icons/controls/iconmonstr-save-icon-48.png') no-repeat 10px 10px;
    margin: 0px 0px 0px 50px;
}

#menu-panel button#save-button + label {
    margin: 0px 0px 0px 70px;
}
#menu-panel button#exit-button{
    background: url('../icons/controls/iconmonstr-logout-3-icon-48.png') no-repeat 10px 10px;
}

#menu-panel div{
    float:left;
    width:85px;
    text-align: center;

}

#menu-panel div label{
    color:white;
    margin: 0px 0px 0px 10px;
    text-align: center;
}

#waiting-panel{
    width:100%;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
    background: rgba(205,205,205,0.5);
}

/*-------Audio Track Menu -------------------*/
.icon_24 {
    width: 24px;
    height: 24px;
    overflow: hidden;
    float: left;
    margin: 5px 10px 0px 10px;
    background-repeat: no-repeat;
}

#vol_up {
    background: url('../icons/controls/iconmonstr-volume-plus-icon-24.png');
}

#vol_down {
    background: url('../icons/controls/iconmonstr-volume-minus-icon-24.png');
}

#bal_left {
    background: transparent url("../icons/controls/speakers.png") repeat scroll 100% 0%;
}

#bal_right {
    background: url('../icons/controls/speakers.png')
}

.space-track {
    width: 90%;
}

.space-track input[type=range] {
    width: 70%;
    float: left;
}

.sectionTrack {
    float: left;
    margin: 10px 0px 0px 38px;
    width: 85%;

}

/*------- Controls ------------------*/

#right-side-controls #control-play{
    /*Width is decided by JS*/
    background-image: url("player/icons/play_btn.png");
    background-repeat: no-repeat;
    /*padding:10px;*/
    float:left;
    margin:5px;
    /*padding-left: 0px;*/

}


#control-hide {
    position: absolute;
    top: 75px;
    height: 15px;
    left: 10px;
    padding: 0px;
    border-radius: 0px;
    background-image: url('../icons/controls/arrow_down.png');
    background-repeat: no-repeat;

}

#right-side-controls #control-menu{
    /*Width is decided by JS*/
    background-image: url("player/icons/menu_btn.png");
    background-repeat: no-repeat;
    /*padding:10px;*/
    margin:5px;
    float:left;
}

.mu-title{
    width: 90%;
    font-size:14px;
    margin:10px 0px 0px 20px;
    /*font-weight: 800;*/
    float: left;
    text-overflow: ellipsis;
    color:white;
}

/*------------Recording Panel---------------*/

#recording-panel {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
    box-shadow: inset 19px 0px 90px #333;
}

#recording-panel > div {
    margin: 0px auto;
    width: 100px;
    padding: 100px 0px 0px 0px;
}

#recording-panel #mic-icon {
    background: url('../icons/controls/icon_mic.png');
    width: 80px;
    height: 80px;
}

#recording-panel #mic-loader {
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    box-shadow: 0px 0px 30px #333;
}

.animationPopUp {
    animation: popUp 1s forwards;

}

.animationBG {
    animation: bgChange 1s forwards;

}

#recording-panel #mic-title {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    float: left;
}

/*--------------------------------------------*/

.giant {
    font-size: 48px;
    text-align: center;
    margin:10px 0px 0px 0px;
}

.mu-controller{
    width:100%;
    float:left;
    margin:0px;
}

.mu-controller-red{
    /*background-color: #ff5812;*/
}


/* Icon */
.mu-settings {
    float:left;
    width: 25%;
    margin:5px 0px 0px 20px;
}

/* Panel */
#mu-settings-panel
{
    width: 80%;
    height: 100%;
    left:0px;
    position: absolute;
    z-index: 2;
}

.blueBackground
{
    background-color: rgba(18, 208, 255, 0.9);
}



#scroll-editor-main{
    overflow: hidden;
    float:left;
    width:80%;
}

form[name="audioTrack"] {
    margin: 5% 0% 0% 5%;
}

img.mu-settings {
    max-width: 18%;
}

.visibleElement{
    display: inline;
    opacity: 1;
}

/* ----------- Value Selector ----------*/

#selector-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1001;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#selector-panel div {
    font-size: 18px;
    color: white;
}

#selector-panel table {
    width: 100%;
}

#selector-panel table td {
    width: 100%;
}

#selector-panel table .confirmButton {
    position: absolute;
    bottom: 0px;
}

#selector-panel table .button50 {
    width: 45%;
}

#selector-panel table .button100 {
    width: 95%;
}

#selector-panel table .button50:first-child {
    left: 0px;
}

#selector-panel table .button50:last-child {
    left: 50%;
}

#selector-panel table td * {
    margin: 10px;
}

#selector-panel table tr:first-child div {
    float: left;
    margin: 10px;

}

#selector-panel table span {
    color: white;
    text-align: center;
    font-size: 14px;
}

#selector-panel table .smallTxt {
    font-size: 11px;

}

#selector-panel table input[type=range] {
    width: 90%;
}

#selector-panel button {
    width: 100%;
}

button.red {
    background: #ff463e;
}

/** ---------------- About ------------ **/

#about {
    z-index: 1000;
    background: white;
}

.title-coloring {
    animation: text-coloring 1.2s forwards;
}

div.about-text {
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

.central-box {
    margin: 0px auto;
    width: 350px;
}

span.about-text {
    float: left;
}

.italic {
    font-style: italic;
}

.cc {
    margin: 10px 0px 0px 0px;

}

.heart-icon {
    background: url("../icons/extra/iconmonstr-favorite-5-icon-16.png");
    width: 16px;
    height: 16px;
    display: inline;
    margin: 0px 5px 0px 5px;
    padding: 0;
    float: left;
}

.icons_container {
    width: 100px;
    margin: 0 auto;
}

.icons_about {
    float: left;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    margin: 5px 0px 2px 0px;
}

#github-link {

    background: url(../icons/extra/iconmonstr-github-9-icon-48.png);
}

#email-link {
    background: url(../icons/extra/iconmonstr-email-9-icon-48.png);
}




/***

The panels should somehow keep the interface visible
-Semitransparent
-Dropdown






